/* */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.chart{
  height: 40%;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

canvas{
  display: block;
}
